/*
 * Variables
 */

:root {
  --max-width: 800px;
  --pad-sm: .25rem;
  --pad-md: .5rem;
  --bg-light: #222;
  --bg-normal: #000;
  --fg-normal: #fff;
  --font-sans: Arial, sans-serif;
  --font-mono: Courier New, monospace;
}
.light {
  --bg-normal: #fff;
  --fg-normal: #000;
}

@media (min-width: 600px) {
  :root {
    --pad-sm: .5rem;
    --pad-md: 1rem;
  }
}

/*
 * Resets
 */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { width: 100%; height: 100%; }
body {
  width: 100%;
  min-height: 100%;
  background: var(--bg-normal);
  font: 16px var(--font-sans);
  color: var(--fg-normal);
}

/*
 * Layout
 */
.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--pad-md);
}
.content { padding: var(--pad-md) 0; }
.text-right { text-align: right; }

[x-data="datetime"] {
  font-family: var(--font-mono);
  .time {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  [x-data="datetime"] {
  }
}

[x-data="inputsearch"] {
  input {
    width: 100%;
    padding: var(--pad-sm);
    background: var(--bg-light);
    border: 1px solid var(--bg-light);
    outline: none;
    color: var(--fg-normal);
  }
}
@media (min-width: 600px) {
  [x-data="inputsearch"] {
  }
}
